html {
  height: 100%
}
body {
  height: 100%;
  margin: 0px;
  padding: 0px;
}
#mapbg {
  height: 100%;
}
#wrapper {
  width: 100%;
  top: 0;
}

button {
  box-shadow: none;
  border: none;
}

header {
  display: block;
  height: 75px;
  background: #222E3C;
  position: relative;
  text-align: left;
  margin: 0;
}

@media only screen and (min-width: 48em) {
  header {
    text-align: center;
  }
}

header object {
  padding: 0.75em;
  margin: 0.5em;
  display: inline-block;
}
header h1 {
  color: #FFF;
  font-family: Helvetica;
}

.col-full {
  width: 100%;
  margin: 0 -10px;
}

header a.newBeakon:link,
header a.newBeakon:visited,
/*header a:focus,
header a:hover,*/
header a.newBeakon:active {
  background: #162427;
  color: #FFF;
  border: none;
  text-decoration: none;
  outline: none;
  position: absolute;
  height: 100%;
  width: 75px;
  line-height: 75px;
  right: 0;
  font-size: 2em;
  text-align: center;
}

footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  background: #222E3C;
  color: #FFF;
}

.subNav1, .subNav2 {
  color: #FFF;
  text-align:center;
}
.subNav1 {
  background: #79CBC7;
}
.subNav2 {
  background: #F07A48;
}






/* Oh Hai */

#submit-form label, #submit-form input  {
  font-size: 1.25em;
}

#submit-form {
  margin-bottom : 1em;
}

#ccnumber {
  width: 100%;
}

.reveal label {
  color: #000;
  margin-left: 1em;
  display: inline;
}

.form-row {
  border: 1px solid #b4becd;
  background: #FFF;
  padding: 0.5em 0;
}
.form-row-top {
  border-radius: 0.5em 0.5em 0 0;
  border-bottom: none;
}
.form-row-bottom {
  border-radius:0 0 0.5em 0.5em;
  border-top: none;
  margin-bottom: 1em;
}
.form-row input, .form-row input:focus {
  border: none;
  background: #FFF;
  box-shadow: none;
  display: inline;
  width: auto;
}
.form-row input.dateField, .form-row input.dateField:focus {
  width: 2em;
  padding: 0;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}