extends layout

block body
  article#notification(style='position: absolute; top: 200px; left: 100px; background: rgba(0,0,0,0.2')
    p
      | Finding your location:
      span#status checking...
  section#wrapper
    header
      a.newBeakon(href='/beacons/add') +
      a(href='/')
        object(data='/img/beakon.svg', type='img/svg+xml', alt='beakon')
          img(src='/img/beakon.png', width='190px', height='35px', alt='Beakon')
    .col-full
      ul.small-block-grid-2
        li.subNav1 History
        li.subNav2 Create
  #mapbg
