html {
  height: 100%;
}
body {
  margin: 0px;
  padding: 0px;
  background: #EAEAEA;
  height: 100%;
}
#mapbg {
  height: 100%;
}
#wrapper {
  width: 100%;
}

.isMeta {
  opacity: 0.5;
}

.isCentered {
  text-align: center;
}

img.tick {
  width: 200px;
  height: 200px;
  display: block;
  margin: auto;
}

.button {
  box-shadow: none !important;
  border: none !important;
}

.button.negative {
  background: red;
}

.small-block-grid-2 .button {
  display: block;
  margin-top: 2px;
}

header {
  display: block;
  height: 75px;
  background: #222E3C;
  position: relative;
  text-align: left;
  margin: 0;
}

@media only screen and (min-width: 48em) {
  header {
    text-align: center;
  }
}

header object {
  padding: 0.75em;
  margin: 0.5em;
  display: inline-block;
}
header h1 {
  color: #FFF;
  font-family: Helvetica;
}

.col-full {
  width: 100%;
  margin: 0 -10px;
}

header a.newBeakon:link,
header a.newBeakon:visited,
/*header a:focus,
header a:hover,*/
header a.newBeakon:active {
  background: #162427;
  color: #FFF;
  border: none;
  text-decoration: none;
  outline: none;
  position: absolute;
  height: 100%;
  width: 75px;
  line-height: 75px;
  right: 0;
  font-size: 2em;
  text-align: center;
}

footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  background: #222E3C;
  color: #FFF;
  padding: 1em 1em 0;
}


.subNav1, .subNav2 {
  color: #FFF;
  text-align:center;
}
.subNav1 {
  background: #79CBC7;
}
.subNav2 {
  background: #F07A48;
}






/* Oh Hai */

#submit-form label, #submit-form input  {
  font-size: 1.25em;
}

#submit-form {
  margin-bottom : 1em;
}

#ccnumber {
  width: 100%;
  padding-left: 1em;
}

.reveal label {
  color: #000;
  margin-left: 1em;
  display: inline;
  text-transform: uppercase;
  font-size: 0.75em !important;
}

.form-row {
  border: 1px solid #b4becd;
  background: #FFF;
  padding: 0.5em 0;
}
.form-row-top {
  border-radius: 0.5em 0.5em 0 0;
  border-bottom: none;
}
.row.collapse.form-row-bottom {
  border-radius:0 0 0.5em 0.5em;
  border-top: none;
  margin-bottom: 1em;
}
.form-row input, .form-row input:focus {
  border: none;
  background: #FFF;
  box-shadow: none;
  display: inline;
  width: auto;
  margin-bottom: 0;
}
.form-row input.dateField, .form-row input.dateField:focus {
  width: 2em;
  padding: 0;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input::-webkit-input-placeholder {
    color: #999;
}
input:focus::-webkit-input-placeholder {
    color: #DDD;
}

/* Firefox < 19 */
input:-moz-placeholder {
    color: #999;
}
input:focus:-moz-placeholder {
    color: #DDD;
}

/* Firefox > 19 */
input::-moz-placeholder {
    color: #999;
}
input:focus::-moz-placeholder {
    color: #DDD;
}

/* Internet Explorer 10 */
input:-ms-input-placeholder {
    color: #999;
}
input:focus:-ms-input-placeholder {
    color: #DDD;
}

.sub-nav dt.active a, .sub-nav dd.active a {
  background: #5da423;
}

.splitter {
  padding-top: 2em;
}

.success.label {
  margin-right: 1em;
}

.alert-box.success {
  border: none;
  margin: 0;
}

[data-magellan-expedition] {
  border-bottom: 4px solid #5da423;
}

.alert-box.success h1 {
  color: #FFF;
  text-align: center;
}


.panes {
  list-style-type: none;
}

.panes li {
  display: block;
  clear: both;
  overflow: hidden;
  padding: 1em 0;
  border-top: 1px solid #FFF;

  border-bottom: 1px solid #CCC;
}

.panes img {
  float: left;
  width: 100px;
  height: 100px;
  margin-right: 1em;
  padding: 0.25em;
  border: 1px solid #CCC;
  background: #FFF;
}

.right.price {
  font-weight: 900;
  font-size: 2em;
}

span.label.label-large {
  background: #F1C40F;
  color: #000;
  font-size: 1.5em;
  font-weight: 900;

}

span.label.label-huge {
  font-size: 2em;
  margin-bottom: 0.5em;
}

.panes h4 {
}


/* PAYMENT */

.page-payment {
/*  background: #EAEAEA;
*/}